---
// src/components/static/Notice.astro
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="notice-box">
  {title && <div class="notice-title">{title}</div>}
  <div class="notice-content">
    <slot />
  </div>
</div>
