---
interface Props {
  variant?: "shape-1" | "shape-2" | "shape-3" | "shape-4";
  class?: string;
}

const { variant = "shape-1", class: className } = Astro.props;

const shapes = {
  "shape-1": "border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;",
  "shape-2": "border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;",
  "shape-3": "border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;",
  "shape-4": "border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;",
};

const style = shapes[variant];
---

<div class={`${className} overflow-hidden`} style={style}>
    <slot />
</div>
